.edit-utama {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 20%;
}

.content {
    width: 100%;
}

.content-utama {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid grey;
}